#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Name=Ghidra {{ ghidra_version }}
Path={{ ghidra_dir }}/
Exec={{ ghidra_dir }}/ghidraRun
Icon={{ ghidra_dir }}/support/ghidra.ico
Categories=Application;
Terminal=false
StartupWMClass=Ghidra
